<div class="shop-container">
  <h1 class="shop-title">TIENDA DE SKINS</h1>

  <!-- Categorías -->
  <div class="categories-container">
    @for (category of categories; track category) {
    <div
      class="category-tab"
      [class.active]="category === selectedCategory"
      (click)="selectCategory(category)"
    >
      {{ category }}
    </div>
    }
  </div>

  <!-- Grid de items -->
  <div class="items-grid">
    @for (item of getFilteredItems(); track item) {
    <div class="item-card">
      <div class="item-image">
        <img [src]="item.image" [alt]="item.name" />
      </div>
      <div class="item-name">{{ item.name }}</div>
      @switch (item.state) { @case ("owned") {
      <button (click)="equipSkin(item)">Equipar</button>

      } @case ("buy") {
      <button (click)="buySkin(item)" class="item-price">
        <img src="coin.png" alt="Moneda" class="coin-icon" />
        {{ item.price | number }}
      </button>
      } @case ("equipped") {
      <button [disabled]="true">Equipado</button>

      } }
    </div>
    }
  </div>
</div>

<app-back-button></app-back-button>
