<div class="bg-gray-50 flex flex-col min-h-screen justify-center items-center">
  <div class="flex flex-row">
    <div class="block">
      <app-profile></app-profile>
      <div class="flex flex-row justify-between items-center">
        <app-activity-button
          (click)="goToLeaderBoard()"
          imgPath="ShoppingCart.png"
        ></app-activity-button>
        <app-points-indicator></app-points-indicator>
        <app-activity-button
          (click)="goToLeaderBoard()"
          imgPath="Leaderboard.png"
        ></app-activity-button>
      </div>
    </div>
  </div>
</div>
