<div class="bg-gray-50 flex flex-col min-h-screen justify-center items-center">
  <div class="flex justify-center w-full">
    <!-- <app-level-indicator></app-level-indicator> -->
    <app-points-indicator></app-points-indicator>
  </div>
  <!-- app-profile on top -->
  <div class="flex flex-row justify-between items-center">
    <app-activity-button
      (click)="goToAppearance()"
      imgPath="Registration.png"
    ></app-activity-button>
    <app-profile [currentExp]="125" [maxExp]="200" [level]="7"></app-profile>
    <app-activity-button
      (click)="goToLeaderBoard()"
      imgPath="Leaderboard.png"
    ></app-activity-button>
  </div>
</div>
